<html>

<head>
    <link rel="stylesheet" href="/assets/CSS/style.css" />
    <link rel="icon" href="/assets/img/download__1_-removebg-preview.png">
    <link rel="stylesheet" href="/assets/fontawesome/css/all.css" />
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/CSS/bootstrap.min.css" />
    
    <title>Personal Web | {{title}}</title>
</head>

<body>
    {{> navbar}}

    {{> @partial-block}}



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/JS/sweetalert2.js"></script>
    <script src="/assets/JS/bootstrap.bundle.min.js"></script>
    <script src="/assets/JS/contact.js"></script>
    <script src="/assets/JS/rating.js"></script>
   

</body>

</html>

<!-- A= added (ditambahkan)-->
<!-- U= untracked (balum didaftarkan)-->
<!-- M= modified (sudah ditambahkan tapi diedit dan belum disimpan di repository gitnya) -->

<!-- git add = menambahkan file ke respository git -->
<!-- git commit = -->