<nav class="navbar navbar-expand-lg bg-info-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/download__1_-removebg-preview.png" alt="Bootstrap" width="70" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
        <li class="nav-item">
          <a class="nav-link fs-5 {{#if isHome}} active {{/if}}" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 {{#if isMyProject}} active {{/if}}" href="/MyProject">My Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5  {{#if isRating}} active {{/if}}" href="/rating">Testimonial</a>
        </li>
      </ul>
      <div style="display: flex; justify-content:end; width:50%; align-items:center;gap:20px">
        {{#if user}}
        Hello,{{user.username}}
        <a href="/logout" class="nav-link fs-5">Logout</a>
        {{else}}
        <a href="/login" class="nav-link fs-5">Login</a>
        <a href="/register" class="nav-link fs-5">Register</a>
        {{/if}}
        <a href="/task-form" class="btn btn-primary fs-6 fw-bold ">Contact Me</a>
      </div>

    </div>
  </div>
</nav>