{{#> layout title="login"}}

{{!-- {{#if messages}}

  {{{sendAlert "error" messages.error}}}

{{/if}} --}}

<section class="Project-form">

  <form action="/login" method="post" class="form">
    <h1 class="section title">Login</h1>
    <div class="a">
      <label for="email">Email</label>
      <input placeholder="example@gmail.com" type="email" name="email" id="email" />
    </div>
    <div class="a">
      <label for="password">Password</label>
      <input placeholder="6 characters" type="password" name="password" id="password" />
    </div>
    
 <div class="button">
            <button class="btn" type="submit" >Login</button>
          </div>
  </form>
</section> 

<script>
const errorMessage = "{{messages.error}}"
if(errorMessage){

   Swal.fire({
            title: "Oops!",
            text: errorMessage,
            icon: "error"
            });
}
const success = "{{messages.success}}"
if(success){

   Swal.fire({
            title: "Success!",
            text: success,
            icon: "success"
            });
}
</script>
    


{{/layout}}