{{#> layout title="Home" user=user}}
  <div class="container-home">
    <div class="flexbox-home">
      <div class="left">
        <div class="teks">
          <h1>Hi Welcome To My Profile</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere,
            omnis ea nesciunt maiores ducimus eius magni odio quaerat ab
            libero eos hic veniam unde sequi ut expedita dolor ipsa id?Lorem,
            ipsum dolor sit amet consectetur adipisicing elit. Cum reiciendis
            placeat, debitis architecto sit voluptate nihil tempore aperiam
            cumque. Minus esse odio eius error eveniet, illo perferendis ullam
            harum neque.
          </p>
        </div>
        <div class="contact">
          <button class="btn btn-dark">Contact</button>
          download CV <i class="fa-solid fa-download"></i>
        </div>
        <div class="logo">
          <a href="https://www.instagram.com/endranio_endra/" target="_blank" data-tooltip="instagram" style="--accent-color:#E4405F"><i
              class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/share/12BL4tSE4Xy/" target="_blank" data-tooltip="facebook" style="--accent-color:#1877F2"><i
              class="fab fa-facebook"></i></a>
          <a
            href="https://www.linkedin.com/in/endranio-palupi-725185332?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" data-tooltip="Linkedin"style="--accent-color:#2980b9"><i
              class="fab fa-linkedin"
              ></i></a>
          <a href="https://www.tiktok.com/@endraniop" target="_blank" data-tooltip="Tiktok" style="--accent-color:#000000"><i class="fab fa-tiktok"></i></a>
        </div>
      </div>
      <div class="card image">
        <img src="../assets/img/WhatsApp Image 2024-12-02 at 18.23.41.jpeg" alt="" />
        <h1>Endranio Palupi</h1>
        <p>Fullstack Developer</p>
      </div>
    </div>
  </div>
 
{{/layout}}
