<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Project</title>
    <link rel="stylesheet" href="../assets/CSS/style.css" />
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/CSS/bootstrap.min.css">
    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-info-subtle">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="./assets/download__1_-removebg-preview.png"
            alt="Bootstrap"
            width="70"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link fs-5" aria-current="page" href="index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-bold fs-5" href="MyProject.html">My Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="rating.html"
                >Testimonial</a
              >
            </li>
          </ul>
          <form class="d-flex" role="search">
            <a href="task-form.html" class="btn btn-primary fs-6 fw-bold"
              >Contact Me</a
            >
          </form>
        </div>
      </div>
    </nav>


    <section class="Project-form">

      <form class="form" onsubmit="addBlog(event)">
        <h1 class="section title">Add My Project</h1>
        <div class="a">
          <label for="input-project-name">Project Name</label>
          <input
            placeholder="Project Name"
            type="text"
            name="input-project-name"
            id="input-project-name"
            
          />
        </div>
        <div class="input-date">
          <div class="start-date">
            <label for="input-start-date">Start Date</label>
            <input
              placeholder=""
              type="date"
              name="input-start-date"
              id="input-start-date"
              
            />
          </div>
          <div class="end-date">
            <label for="input-end-date">End Date</label>
            <input
              placeholder=""
              type="date"
              name="input-end-date"
              id="input-end-date"
              
            />
          </div>
        </div>

        <div class="a">
          <label for="massage">Your Massage</label>
          <textarea id="massage" name="massage" rows="8" ></textarea>
        </div>

        <div class="checkbox">
          <div>
            <label for="node-js">
              <input
                class="bs"
                type="checkbox"
                id="node-js"
                name="node-js"
                value="lni lni-nodejs"
              />
              
              Node Js</label
            >
            <label for="react-js">
              <input
                type="checkbox"
                id="react-js"
                name="react-js"
                value="lni lni-react"
              />
              React Js</label
            >
          </div>
          <div>
            <label for="next-js">
              <input
                type="checkbox"
                id="next-js"
                name="next-js"
                value="lni lni-nextjs"
              />
              Next Js</label
            >
            <label for="TypeScript">
              <input
                type="checkbox"
                id="TypeScript"
                name="TypeScript"
                value="lni lni-typescript"
              />
              TypeScript</label
            >
          </div>
        </div>

        <div class="a">
          <label for="input-project-image">Upload Image</label>
          <div class="input-project-image-group">
            <label for="input-project-image">
                <p>Attach File</p>
                <img src="../image/file.png" alt="">
                </label>
            <input
              placeholder="Project image"
              type="file"
              name="input-project-image"
              id="input-project-image"
              
              hidden
            />
          </div>
        </div>
        <div class="button">
            <button class="btn" type="submit">Submit</button>
          </div>
      </form>
    </section>

    <section class="project-list">
        <h1>My Project</h1>
        <br><br>
        <h3 id="noPost" style="margin: auto;text-align: center;color: rgb(189, 189, 189); ">Deploy your project</h3>
        
        <div  id="project-list" class="project-flex">
          <!-- <div class="project-card">
              <div class="card-image">
                <img src="./assets/blog-img.png" alt="">
                <a href="">Project 1</a>
                <p>durasi 3 bulan</p>
                <p>12 Juli 2024</p>
              </div>
              <div class="real">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit maiores ipsa omnis, itaque quaerat atque repudiandae ea, autem quisquam molestias nulla temporibus iure fugit. Quos maiores fuga laboriosam. Sunt, cupiditate?
                  <p class="real-time">1 seconds ago</p>
                </p>

              </div>
              <div class="card-content">
                <div class="card-icons">
                  <i class="lni lni-nodejs"></i>
                  <i class="lni lni-nextjs"></i>
                  <i class="lni lni-react"></i>
                  <i class="lni lni-typescript"></i>
                </div>

                <div class="button-card">
                    <button>Edit</button>
                    <button>Delete</button>
                </div>
              </div>
            </div> -->
            
        </div
        >
    </section>
    <script src="MyProject.js"></script>
    <script src="navbar.js"></script>
    <script src="./assets/bootstrap.bundle.min.js"></script>
  </body>
</html>
