<html>

<head>
    <link rel="stylesheet" href="/assets/CSS/style.css" />
    <link rel="icon" href="/assets/img/download__1_-removebg-preview.png">
    <link rel="stylesheet" href="/assets/fontawesome/css/all.css" />
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/CSS/bootstrap.min.css" />
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Personal Web | not found</title>
</head>

<body>

<div id="container-404">
            <div class="content-404 text-center">
                <h2 class="text-white fw-bold ">404</h2>
          <h4 class="bg-light bg-light text-center px-3 py-2 mb-4 rounded">Oops Page not found</h4>
          <p class="text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
            dolore?
          </p>
          <a href="/index" class="btn btn-danger">Back</a>
        </div>
    </div>

 <script src="/assets/JS/bootstrap.bundle.min.js"></script>
  

</body>

</html>

