<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/CSS/style.css" />
    <link rel="stylesheet" href="../assets/CSS/bootstrap.min.css">
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-info-subtle">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="./assets/download__1_-removebg-preview.png"
            alt="Bootstrap"
            width="70"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link fs-5" aria-current="page" href="index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="MyProject.html">My Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="rating.html"
                >Testimonial</a
              >
            </li>
          </ul>
          <form class="d-flex" role="search">
            <a href="task-form.html" class="btn btn-primary fs-6 fw-bold"
              >Contact Me</a
            >
          </form>
        </div>
      </div>
    </nav>

    <div class="hero-image">
      <div class="main">
        <form class="form" id="contactForm" action="">
          <h1>Get In Touch</h1>
          <div class="a">
            <label for="name">Name</label>

            <input
              placeholder="name"
              type="text"
              name="name"
              id="name"
              required
            />
          </div>

          <div class="a">
            <label for="email">Email</label>
            <input
              placeholder="email"
              type="email"
              id="email"
              name="email"
              required
            />
          </div>

          <div class="a">
            <label for="phoneNumber" required="">Phone Number</label>
            <input
              placeholder="phone number"
              type="number"
              id="phoneNumber"
              name="phoneNumber"
              required
            />
          </div>

          <div class="a">
            <label for="Subject">Subject</label>
            <select name="Subject" id="Subject" required>
              <option value=""></option>
              <option value="frontend">frontend</option>
              <option value="backend">backend</option>
            </select>
          </div>

          <div class="a">
            <label for="massage">Your Massage</label>
            <textarea id="massage" name="massage" required></textarea>
          </div>

          <div class="button">
            <button class="btn" type="submit">submit</button>
          </div>
        </form>
      </div>
    </div>
    <script src="../assets/JS/contact.js"></script>
    <script src="../assets/JS/navbar.js"></script>
    <script src="../assets/JS/bootstrap.bundle.min.js"></script>
  </body>
</html>

